@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

*
{
margin:0;
padding:0;

box-sizing:border-box; 
font-family:'Montserrat', sans-serif; 
 font-weight: bolder;
}

body{
   
    font-family:'Montserrat', sans-serif; 
    font-weight: bolder;
     align-items: center;
     justify-content:center;
}



body, html {
    padding: 0;
    margin: 0;
   height:100%;
  }

  html { 
    background: url(images/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
  h2,h1{
    color:white;
    text-align:center;
    margin:3rem;
    letter-spacing: 0.6rem;
     font-size: 3rem; 
}

.pageContainer {
    position: relative;
    min-height: 100vh;
     padding-bottom: 2.5rem; }
/*MENU*/

 header{
     position: fixed;
     top: 0;
     left:0;
     width: 100%;
     display:flex;
     justify-content: space-between;
     align-items:center;
     transition:0.5s;
     padding: 30px 100px;
     z-index: 100000; 
    

 }
 header .logo{
     position: relative;
     color: white;
      text-decoration: none; 
     font-size: 2em;
     text-transform: uppercase;
     letter-spacing: 2px;
     transition: 1s;
 }


 header ul{

    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    

 }
 header ul li{

    position: relative;
    list-style:none;
 }

 header ul li a{
    position: relative;
    margin: 0 15px;
    color:#fff;
    transition:1s;
    letter-spacing:2px;
    text-decoration: none; 

 }

 header.sticky{
     padding: 5px 100px;
      background:white; 
     color:black;
    
 }

 header.sticky a{
    color:#000;
 }
 header.sticky ul li a{
     color:#000;
 }
 /* SLIDER */



  
 
   
  .slider{  
    width:100%; 
    height: 100%; 
     overflow: hidden;  
     margin:0; 
    text-align: center;  
    border-bottom: none; 
    
 } 
 
 .middle{ 
    position: relative; 
    
  
 } 
 
 .navigation{ 
      position:relative;  

      bottom:3rem; 
     left:40%;  
     display:flex; 
     color:#fff; 
 } 
 
.bar{ 
    display :'block'; 
    background:#fff; 
    height:8px; 
    width:30px; 
    margin:10px; 
    cursor:pointer; 
    opacity: 0.5; 
    border-radius: 10px;  
    transition: all .4s ease; 
} 
 
.bar:hover{ 
    opacity: 0.8; 
    transform: scale(1.3); 
} 
 
 
input[name="r"]{ 
    position:absolute; 
    visibility:hidden; 
} 
 
 
.slides{ 
    width:300%; 
    height:100%; 
    display:flex; 
} 
 
.slide{ 
    width:33.33%; 
    transition: all .6s ease; 
} 
 
.slide img{  
    max-width: 100%;  
    object-fit: cover;
   
 
}  
/* TRANSITION SLIDE IMAGES*/ 
#r1:checked ~ .s1{ 
    margin-left:0%; 
  } 
#r2:checked ~ .s1{ 
    margin-left:-33.33%; 
    } 
#r3:checked ~ .s1{ 
    margin-left:-66.67%; 
    }

  
      /* GRID */
    
      .GRID{
          color:white;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
          grid-gap:1rem;
      }

 
    
 .info{
     padding:1rem;
 }   
 .card img{
     width:100%;
 }     

 .card{
     
    transition:transform 1s;

 }

.card:hover{
    transform:translateY(-10px);
}

/* MY 3rd SECTION */
.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
   
  }
  
   .span1 {
    grid-column: 1 / span 11;
  }

  .span2 {
    grid-column: 5 / span 6;
  }

  .span3 {
    grid-column: 2 / span 4;
  }

  .span4 {
    grid-column: 5 / span 2;
  }

  /* centering text */
  .section {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: black;
    /* border-width: 5px;
    border-style: solid;
    border-color: lime; */
    padding: 5rem;
    margin:2rem;
    color:white;
  }
 

.parent p a{
    text-decoration:none;
    color:white;
      transition: 0.2s;
}
  /* CURSOR FOR 3rd SECTION */
 
  .cursor{
      display:none;
      position:fixed;
      width:20px;
      height:20px;
      border-radius:50%;
      background:white;
      transition:0.1s;
      transform: translate(-50%,-50%);
      pointer-events: none;
      
       
  }

 
 .parent:hover .cursor{
    transform: scale(3);
    mix-blend-mode:difference; 
    display:flex;
 }
 
/* FOOTER */


footer{
    background-color:white;

}

       
      .pageContainer {
       min-height:100%;
       margin-bottom: auto;

      } 
      .pageContainer:after{
          content:"";
          display:block;
      }
      .pageContainer:after, footer{
          height:1fr;
      }
      .foot a{
          text-decoration: none;
          color:black;
          
      }