@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

*
{
margin:0;
padding:0;

box-sizing:border-box; 
font-family:'Montserrat', sans-serif; 
 font-weight: bolder;
}

body{
   
    font-family:'Montserrat', sans-serif; 
    font-weight: bolder;
     align-items: center;
     justify-content:center;
     text-align:center;
}



body, html {
    padding: 0;
    margin: 0;
   height:100%;
   min-height: 100%;
  }

  html { 
    background: url(Images/bg1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
  h2,h1{
    color:white;
    text-align:center;
    margin:3rem;
    letter-spacing: 0.6rem;
     font-size: 3rem; 
}

.pageContainer {
    position: relative;
    min-height: 100vh;
     padding-bottom: 2.5rem; }
/*MENU*/

 header{
     position: fixed;
     top: 0;
     left:0;
     width: 100%;
     display:flex;
     justify-content: space-between;
     align-items:center;
     transition:0.5s;
     padding: 30px 100px;
     z-index: 100000; 
    

 }
 header .logo{
     position: relative;
     color: white;
      text-decoration: none; 
     font-size: 2em;
     text-transform: uppercase;
     letter-spacing: 2px;
     transition: 1s;
 }


 header ul{

    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    

 }
 header ul li{

    position: relative;
    list-style:none;
 }

 header ul li a{
    position: relative;
    margin: 0 15px;
    color:#fff;
    transition:1s;
    letter-spacing:2px;
    text-decoration: none; 

 }

 header.sticky{
     padding: 5px 100px;
      background:white; 
     color:black;
    
 }

 header.sticky a{
    color:#000;
 }
 header.sticky ul li a{
     color:#000;
 }
 /* SLIDER */



  
 
   
  .slider{  
    width:100%; 
    height: 100%; 
     overflow: hidden;  
     margin:0; 
    text-align: center;  
    border-bottom: none; 
    
 } 
 
 .middle{ 
    position: relative; 
    
  
 } 
 
 .navigation{ 
      position:relative;  

      bottom:3rem; 
     left:40%;  
     display:flex; 
     color:#fff; 
 } 
 
.bar{ 
    display :'block'; 
    background:#fff; 
    height:8px; 
    width:30px; 
    margin:10px; 
    cursor:pointer; 
    opacity: 0.5; 
    border-radius: 10px;  
    transition: all .4s ease; 
} 
 
.bar:hover{ 
    opacity: 0.8; 
    transform: scale(1.3); 
} 
 
 
input[name="r"]{ 
    position:absolute; 
    visibility:hidden; 
} 
 
 
.slides{ 
    width:300%; 
    height:100%; 
    display:flex; 
} 
 
.slide{ 
    width:33.33%; 
    transition: all .6s ease; 
} 
 
.slide img{  
    max-width: 100%;  
    object-fit: cover;
   
 
}  
/* TRANSITION SLIDE IMAGES*/ 
#r1:checked ~ .s1{ 
    margin-left:0%; 
  } 
#r2:checked ~ .s1{ 
    margin-left:-33.33%; 
    } 
#r3:checked ~ .s1{ 
    margin-left:-66.67%; 
    }

  
      /* GRID */
    
      .GRID{
          color:white;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(38rem, 1fr));
          grid-gap:1rem;
      }

 
    
 .info{
     padding:1rem;
     
 }   
 .card img{
     width:100%;
 }     

 .card{
     
    transition:transform 1s;

 }

 strong{
     font-size: 1.5rem;

 }


 .info p{
     font-weight:500;
     margin:1rem;
 }

.card:hover{
    transform:translateY(-10px);
}

/* MY 3rd SECTION */
.parent {
    display: grid;
    grid-template-columns: repeat(12, 2fr);
   
  }
  
   .span1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.5)), url("Images/gr2.jpg");
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
background-repeat: no-repeat;
    grid-column: 1 / span 12;
  }

  .span2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("Images/design.jpg");
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 5 / span 5;
  }

  .span3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("Images/gr10.jpg");
    background-size: 100% auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    grid-column: 2 / span 6;
  }

  .span4 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.8)), url("Images/gr4.jpg");
background-size: 100% auto;
background-size: cover;
background-repeat: no-repeat;
    grid-column: 6 / span 3;
  }

  /* centering text */
  .section {
    display: grid;
    place-items: center;
    text-align: center;
    background-color: black;
    /* border-width: 5px;
    border-style: solid;
    border-color: lime; */
    padding: 7rem;
     margin-top:0.3rem; 
    margin-left: 0;
    color:white;
  }
 

.parent p a{
    text-decoration:none;
    color:white;
      transition: 0.2s;
}
  /* CURSOR FOR 3rd SECTION */
 
  .cursor{
      display:none;
      position:fixed;
      width:20px;
      height:20px;
      border-radius:50%;
      background:white;
      transition:0.1s;
      transform: translate(-50%,-50%);
      pointer-events: none;
      
       
  }

.section p{
      letter-spacing: 0.1rem;
      font-weight: 400;
      font-size: 2rem;

  }

  div.parent{
      pointer-events: none;
  }
  div.section{
    pointer-events: auto;
}

 

 .parent:hover .cursor{
    transform: scale(3);
    mix-blend-mode:difference; 
    display:flex;
 }



 
 


/* FOOTER */


footer{
    background-color:white;
 width: 100%;
 position: fixed;
 bottom:0;

}

       
      .pageContainer {
       min-height:100%;
       margin-bottom: auto;
       

      } 
     .footer{
         height:400px;
         background-color: white;
         color:black;
         position:sticky;
         min-width: 100%;
     }
.footer .footer-content{
    border: 10px solid red;
    /* width:100%; */
    height:350px;
}

.footer .footer-bot{
         background-color: wheat;
         text-align:center;
         position: absolute;;
         bottom:0px;
         left:0px;
         padding-top:1rem;
         width:100%;

     }


    /* border */
    h1,h2 {
        text-align:center;
        padding-bottom:0.3em;
        background: /* gradient can be an image */
          linear-gradient(
            to left, 
            rgba(0,0,0,0) 25%,
            #740B00 40%,
            #c90d00 50%,
            #740B00 60%,
            rgba(0,0,0,0) 75%
          )
          left 
          bottom
           
          no-repeat; 
        background-size:100% 2.5px ;/* if linear-gradient, we need to resize it */
      }