@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); 

:root{

    font-family: 'Montserrat', sans-serif;




}

*
{
margin:0;
padding:0;
box-sizing:border-box;

}

/* body{
    background: #000;
    min-height:200vh;
} */


html {
    min-height: 200vh;
    background-image: url("images/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }

 header{
     position: fixed;
     top: 0;
     left:0;
     width: 100%;
     display:flex;
     justify-content: space-between;
     align-items:center;
     transition:1s;
     padding: 40px 100px;

 }
 header .logo{
     position: relative;
     font-weight: 700;
     color: black;
     text-decoration: none;
 }


